.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    display: flex;
    margin-top: 53px;
}



.header_nav ul{
    display: flex;
    margin-top: 64px;

    margin-left: 415px;

}

.active{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #202336;

}


.not_active{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #B8BECD;
}

.header_li{
    margin-right: 34px;
}

.btns{
    display: flex;
    margin-top: 61px;
}

.login_btn{
    width: 152px;
    height: 44px;
    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;
    color: #FB8F1D;

    background: #FFFFFF;
}


.reg_btn{
    color: #FFFFFF;

    margin-left: 18px;
    width: 152px;
    height: 44px;
    border-radius: 8px;
    border: 0;
    background: #FB8F1D;
}

.social_ico{
    position: absolute;

}
.social_ico ul{
    display: flex;
    margin-top: 134px;
    margin-left: 600px;
}

.social_el{
    margin-left: 35px;
}

