.item{
    height: 100%;
    width: 275px;
    background-color: #f5f1e6;
}
.context{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.item_img{
    padding-top: 20px;
    width: 200px;
}

.item_title{
    font-size: 1em;
    text-align: center;
}

.volume{
    text-align: center;
    font-size: 0.9em;

}

.btn_buy{
    margin-bottom: 15px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 0;
    background-color: #e2970f;
    color: white;
    transition-duration: 0.5s;
}

.btn_buy:hover{
    border: 1px solid #e2970f;
    background-color: white;
    color: #e2970f;
}
