.filter_form{
    border-bottom: .5px solid #e5dcb9;
}

.form{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.select1{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e2970f;
}

.submit{
    outline: 0;
    width: 250%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #e2970f;
    color: white;
    transition-duration: 0.5s;
}

.submit:hover{
    border: 1px solid #e2970f;

    background-color: #ffffff;
    color: #e2970f;
}

.form_select{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
